<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <script type="module">
      import init from './pkg/_BIN_NAME_.js';
      window.addEventListener('load', async () => { await
      init('./pkg/_BIN_NAME__bg.wasm'); });
    </script>
  </body>
</html>
